<!DOCTYPE html>
<html>
  <head>
    <title>Amigo X</title>
    <meta name="description" content="Gerenciador de Amigos Secreto online">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p> Usuario: <%= current_user.email %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <p>Made by ©<a href="https://github.com/mavmaso" target="_blank">Mavmaso</a></p>
  </footer>
</html>
